html, body {
	position: absolute;
	width: 100%;
	height: 100%;

	scroll-snap-type: y proximity;
}

body { 
	color: white;
	background-color: black; 
}

* {
	margin: unset;
	font-family: Arial, Helvetica, sans-serif;
}

.window {
	position: relative;
	width: 100%;
	height: 100vh;
	
	box-sizing: border-box;
	padding-top: 100px;

	scroll-snap-align: start;
}

.window h1 {
	font-size: 8vw;
}

.window p {
	font-size: 2vw;
}



.cover {
	background-position: center;
	background-size: cover;
}

.pointer { cursor: pointer; }

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: black; }
::-webkit-scrollbar-thumb { background: whitesmoke; }
